

img {
	border:0; 
}


a.lien1 {outline:none;text-decoration:none;font-family:arial,verdana;color:#011a38;font-size:13px;height:14px; line-height:14px;text-align:center; }
a.lien1:hover {outline:none;text-decoration:underline;font-family:arial,verdana;color:#011a38;font-size:13px;height:14px; line-height:14px;text-align:center;}
