 #homeSlider {
  font-weight: light;
  width: 100%;
}
#homeSlider .rsThumbsHor {
  height: 30px;
  padding: 0;
}
.rsDefaultInv,
.rsDefaultInv .rsOverflow,
.rsDefaultInv .rsSlide,
.rsDefaultInv .rsVideoFrameHolder,
.rsDefaultInv .rsThumbs {
  background-color:#fff;
}
.rsDefaultInv .rsThumb.rsNavSelected {
  background-image:url(../pictures/petro.jpg);background-repeat:repeat-x;background-position:bottom center;
  color:#001d3d;
  /*border-bottom:2px solid #001d3d;*/
}

.rsDefaultInv .rsThumb.rsNavSelected i{
 /* background-image:url(../pictures/petro.jpg);background-repeat:repeat-x;background-position:bottom center;*/
  color:#001d3d;
}

#homeSlider .example-link {
  padding: 5px 12px 6px;
  color: #FFF;
  background: #FFF;
  position: absolute;
  color: #BB0202;
  right: 12px;
  bottom: 12px;
  text-decoration: none;
  font-weight: normal;
}
#homeSlider > .rsContent {
  height: 100%;overflow:hidden;
}
.royalSlider > .rsContent h1,
.royalSlider > .rsContent h2,
.royalSlider > .rsContent img,
.royalSlider > .rsContent .example-link {
  display: none;
  text-decoration: none;
  background: #C00;
  color: #FFF;
    -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
}

#homeSlider .example-link:hover {
  text-decoration: none;
  background: #C00;
  color: #FFF;
}
.rsWebkit3d .example-link {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
}
#homeSlider .rsThumb {
padding-left:3px;padding-right:3px;
  height: 30px;
  cursor: pointer;
  position:relative;
  padding-top:-10px;color:#474441;font-weight:bold;
}
#homeSlider .rsTmb {
  text-align: center;
  margin-top: 6px;
  font-weight: light;
  font-family:arial;
}
#homeSlider .rsThumb i {
  font-style: normal;
  font-weight: light;font-size:13px;
  
}

.rsSlideTitle {
  font-size: 24px;
  padding: 11px 13px 14px;
  background: #c00;
  background: rgba(220,0,0,0.6);
  color: #FFF;
  font-weight: normal;
  margin: 0;
  line-height: 21px;
}
.rsFirstSlideTitle {
  left: 12%;
  top: 104px;

}
.rsSecondSlideTitle {
 left: 12%;
  top: 154px;
}
@media screen and (min-width: 0px) and (max-width: 960px) {
  .rsSlideTitle {
    font-size: 18px;
    padding: 10px 12px 12px;
  }
  .rsFirstSlideTitle {
    left: 8%;
    top: 84px;
  }
  .rsSecondSlideTitle {
   left: 8%;
    top: 129px;
  }
  #homeSlider .rsThumb {
    font-size: 12px;
    width: auto;
    height: 30px;
    cursor: pointer;
  }
  #homeSlider .rsTmb {
   margin-top: 6px;
  }
}
  @media screen and (min-width: 0px) and (max-width: 500px) {
  .royalSlider {
    height: 300px !important;
  }
    .rsSlideTitle {
    font-size: 14px;
    padding: 8px 10px 8px;
  }
   .rsFirstSlideTitle {
      left: 24px;
      top: 54px;
    }
    .rsSecondSlideTitle {
     left: 24px;
      top: 93px;
    }
 }
 
   #sidebar {
    width: 0px;
  }

  #content {
    width: auto;
  }
